.form-container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4A9A4D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #3a7bc8;
}

.btn-add {
    text-decoration: none;
    background-color: #4A9A4D;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    float: right;
    margin-top: 10px;
}

.btn-add:hover {
    background-color: #3a7bc8;
}
